html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#pageContent {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#mastHeadContainer {
  width: 100%;
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;

  .logoContainer {
    width: 150px;

    img {
      height: 25px;
      margin-left: 10px;
    }
  }
}

#sideNavContainer {
  width: 240px;
  background-color: #f5f5f5;
  padding-top: 56px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
}

#mainSectionContainer {
  padding-top: 56px;
  display: flex;
}

#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

#mastHeadContainer .rightIcons {
  height: 100%;
}

#mastHeadContainer button img {
  width: 100%;
}

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 25px;
  margin-left: 8px;
}

#mastHeadContainer .searchBarContainer {
  padding: 0 40px;
  flex: 1;
  display: flex;
}

#mastHeadContainer .searchBarContainer form {
  flex: 1;
  display: flex;
}
#mastHeadContainer .searchBarContainer .searchBar {
  flex: 1;
  max-width: 600px;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 100;
  color: #111;
  border: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  height: 32px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

#mastHeadContainer .searchBarContainer .searchButton {
  height: 32px;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 65px;
  cursor: pointer;

  img {
    height: 20px;
    width: 20px;
  }
}

#mainContentContainer {
  padding: 10px 30px;
  display: flex;
  flex: 1;
  background-color: #fafafa;
  box-sizing: border-box;
}
.column {
  flex-grow: 1;
  background-color: #fff;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.signInContainer {
  background: #efefee;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.signInContainer .column .header img {
  width: 100px;
}

.signInContainer .column {
  flex-grow: 0;
    width: 450px;
    padding: 20px 35px;
    max-height: 100%;
    overflow-y: auto;
}

.signInContainer .column .header {
  padding: 20px 0;

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
  }

  span {
    font-size: 14px;
  }
}

.signInContainer .column .loginForm form {
  display: flex;
  flex-direction: column;

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    margin: 10px 0;
  }

  input[type="submit"]{
    background: #4285f4;
    color: #fff;
    height: 36px;
    width: 80px;
    border: none;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
  }
}

.signInContainer .column .signInMessage {
   color: #212529;
    font-size: 14px;
    font-weight: 400;
}

.errorMessage {
  color: red;
}

.watchLeftColumn {
  flex: 1;
}

.watchLeftColumn .videoPlayer {
  width: 100%;
}

.suggestions {
  max-width: 425px;
  flex-grow: 1;
  padding-left: 24px;
  height: 100%;
}

.videoInfo {
  width: 100%;
  padding: 20px 0 8px 0;
}

.videoInfo h3 {
  display: block;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.videoInfo .P_infoBelowSection {
  display: flex;
}

.videoInfo .P_infoBelowSection .viewCount {
  font-size: 16px;
  color: rgba(17,17,17, 0.6);
  flex: 1;
}

.videoInfo .P_infoBelowSection .control {
flex: 1;
text-align: right;
}

.videoInfo .P_infoBelowSection .control button{
  padding: 0;
  background: transparent;
  border: none;
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.videoInfo .P_infoBelowSection .control button img {
    height: 20px;
    width: 20px;
    margin: 4px 8px 8px 8px;
}

.secondaryInfo .topInfo {
  display: flex;
  margin-bottom: 12px;
}
.secondaryInfo .topInfo .profilePicture {
  height: 48px;
  width: 48px;
  margin-right: 16px;
  border-radius: 50%;
}
.secondaryInfo .topInfo .uploadInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.secondaryInfo .topInfo .uploadInfo .date {
  font-size: 13px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.6);
  
}

.secondaryInfo .descriptionContainer {
  font-size: 14px;
  font-weight: 400;
  margin-left: 64px;
  max-width: 615px;
  line-height: 21px;  
}

.secondaryInfo .topInfo .uploadInfo .owner a{
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
.secondaryInfo {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.secondaryInfo .topInfo .button {
  padding: 6px 15px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

.secondaryInfo .topInfo .subscribeButtonContainer,
.secondaryInfo .topInfo .editVideoButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribeButtonContainer .subscribe {
  background-color: #f00;
  color: #fff;
}

.subscribeButtonContainer .unsubscribe {
  background-color: #eee;
  color: rgba(17, 17, 17, 0.6);
}

.editVideoButtonContainer .edit {
  background-color: #2692e2;
  color: #fff;
}

.commentSection .headerComment {
  margin: 24px 0 32px 0;
  display: flex;
  flex-direction: column;

}

.headerComment .commentForm .profilePicture,
.commentSection .comment .profilePicture,
.commentForm .profilePicture  {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 50%;
}

.headerComment .countComment {
  margin-bottom: 24px;
}
.headerComment .commentForm,
.comment .itemContainer .commentForm {
  display: flex;
}

.headerComment .commentForm textarea ,
.itemContainer .commentForm textarea{
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #111;
  resize: none;
}

.itemContainer .commentForm textarea {
  height: 30px;
}

.headerComment .commentForm .postComment,
.itemContainer .commentForm .postComment,
.itemContainer .commentForm .cancelComment {
  height: 36px;
  background-color: #2692e6;
  color: #fff;
  font-weight: 500;
  padding: 0 15px;
  border: none;
  border-radius: 3px;
}

.itemContainer .commentForm .cancelComment {
  background-color: transparent;
  color: rgba(17, 17, 17, 0.6);
}
.itemContainer .commentForm .cancelComment:hover {
  color: #000;
}
.commentSection .itemContainer {
  margin-bottom: 16px;
}
.commentSection .comment {
  display: flex;
}
.commentSection .commentHeader {
  margin-bottom: 2px;
}
.commentSection .commentHeader .username {
  margin-right: 8px;
  color: #111;
  font-size: 13px;
  font-weight: 500;
} 
.commentSection .comment .body {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.itemContainer .control {
  margin-left: 64px;
}
.itemContainer .control button,
.itemContainer .control  .likesCount {
  border: none;
  height: 32px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.6);
}
.itemContainer .control button {
  cursor: pointer;

  img {
    height: 16px;
  }
}
.itemContainer .control .likesCount {
  margin: 0 5px;
}
.itemContainer .commentForm .profilePicture {
  width: 30px;
  height: 30px;

}
.itemContainer .commentForm {
  height: 30px;
}
.itemContainer .mainContainer .commentHeader .timeStamp {
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  color: #888;
}
.hidden {
  display: none !important;
}

.comments .repliesSection {
  padding-left: 64px;
  margin-top: 16px;
}

.comments .itemContainer .viewReplies {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


.videoGrid  {
  display: flex;
  flex-wrap: wrap;
}
.suggestions .videoGridItem {
  display: flex;
  height: auto;
}
.videoGridItem {
  margin-right:  4px;
  margin-bottom: 24px;
}
.videoGridItem .thumbnail {
  width: 210px;
  height: 118px;
  position: relative;
}
.videoGridItem .thumbnail img {
  width: 100%;
  height: 100%;
}
.videoGridItem .thumbnail .duration {
  bottom: 0;
  right: 0;
  position: absolute;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  margin: 4px;
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 3px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  
}
.videoGridItem .details {
  padding-left: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 210px;
  position: relative;
}

.suggestions .videoGridItem .details {
  padding-right: 0;
  flex: 1;
}
.videoGrid .videoGridItem .title {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  max-height: 32px;
  color: #212529;
}
.videoGridItem .details .username,
.videoGridItem .details .stats {
  font-size: 13px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: rgba(17, 17, 17, 0.6);
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
